<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>verzity.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
				<key>dateExpires</key>
				<string>13/07/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FilesProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FloatableTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82B86E0B0D26CD1172C33C03E259ACEE0CEF6428</string>
						<key>dateExpires</key>
						<string>13/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3RY97ZX598</string>
						<key>name</key>
						<string>William Lopez Rodriguez</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3RY97ZX598.com.dwmedio.verzity</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3RY97ZX598</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>verzity.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>057faa9a-0ba0-435e-8c7a-4429f7ee8ea2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.dwmedio.verzity</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3RY97ZX598</string>
				<key>name</key>
				<string>William Lopez Rodriguez</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
